{% extends 'base.html'%}
    {% import 'macros.html' as macro%}
    {% if title %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    {% else %}
    <title>Choose your favorite pitch</title>
    {% endif %}
</head>
<body> 
    <!-- Styles block -->
    {% block styles%}
          {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
    {% endblock %}
    <!-- Content block -->
    {% block content %}
    <div class="container-fluid" style="background-image: url(../static/images/bg.webp); background-size: cover; font-family: 'Gabriela'" >
        <div class="jumbotron" style="background-color: plum; font-style: bold; font-family: 'Gabriela', serif; color:#fff;">
          <h1 style="font-size: 30px;">"Welcome to Pitch app. A place where you get to share ideas and learn too."</h1>
        </div>
   <div class="row">
      <div class="col-md-4">
      <h3 class="card-text" class= "text text-center"> Products pitches</h3>
      <hr>
      <h4 style="font-family: 'Gabriela">Optimizing sales content for desktop is a clear and worthwhile priority for today’s sales leaders.</h4>
      
      <button type="button" class="btn btn-outline-primary"><a href="{{url_for('main.new_pitch')}}">Create a New Pitch</a></button><br><br>
      <button type="button" class="btn btn-outline-primary"><a href="/categories/Products">Read comments</a></button>
    </div>
    
  <div class="col-md-4">
    <h3 class="card-text" class= "text text-center">Interview pitches</h3>
    <hr>
    <h4>I am a talented and enthusiastic … with more than … years’ experience in … I am currently seeking a … position to take my career to the next level.</h4>
    
    <button type="button" class="btn btn-outline-primary"><a href="{{url_for('main.new_pitch')}}">Create a New Pitch</a></button><br><br>
    <button type="button" class="btn btn-outline-primary"><a href="/categories/Interview">Read comments</a></button>
  </div>

  <div class="col-md-4">
    <h3 class="card-text" class = "text text-center"> Promotion pitches</h3>
    <hr>
    <h4>Deliver better projects faster with envato elements web design and video assets</h4>
    
    <button type="button" class="btn btn-outline-primary"><a href="{{url_for('main.new_pitch')}}">Create a New Pitch</a></button><br><br>
    <button type="button" class="btn btn-outline-primary"><a href="/categories/Promotion">Read comments</a></button>
    <hr> 
  </div>

  <div class="col-md-4">
    <h3 class="card-text" class = "text text-center"> Love pitches</h3>
    <hr>
    <h4>It is better to be hated for what you are than to be loved for what you are not.</h4>
    
    <button type="button" class="btn btn-outline-primary"><a href="{{url_for('main.new_pitch')}}">Create a New Pitch</a></button><br><br>
    <button type="button" class="btn btn-outline-primary"><a href="/categories/Love">Read comments</a></button>
    <hr>
  </div> 

  <div class="col-md-4">
    <h3 class="card-text" class = "text text-center"> Culture pitches</h3>
    <hr>
    <h4>Never judge someone by the way he looks or a book by the way it’s covered;
      For inside those tattered pages, there’s a lot to be discovered” by Stephen Cosgrove</h4>
    
    <button type="button" class="btn btn-outline-primary"><a href="{{url_for('main.new_pitch')}}">Create a New Pitch</a></button><br><br>
    <button type="button" class="btn btn-outline-primary"><a href="/categories/Culture">Read comments</a></button>
    <hr> 
  </div>

  <div class="col-md-4">
    <h3 class="card-text" class = "text text-center">Inspiration pitches</h3>
    <hr>
    <h4>The harder you work for something, the greater you'll feel when you achieve it.</h4>
    
    <button type="button" class="btn btn-outline-primary"><a href="{{url_for('main.new_pitch')}}">Create a New Pitch</a></button><br><br>
    <button type="button" class="btn btn-outline-primary"><a href="/categories/Inspiration">Read comments</a></button>
    <hr> 
  </div>


  </div>
  </div>
    {% endblock%}
    </div>
</body>
</html>